<h3>Add a New Hike!</h3>
<div>
  <div>
    <label>Name of Hike:</label>
    <br>
    <input class="form-control" #newNameOfHike>
  </div>

  <div>
    <label>Hiker:</label>
    <br>
    <input class="form-control" #newAuthor>
  </div>

  <div>
    <label>State:</label>
    <br>
    <input class="form-control" #newState>
  </div>

  <div>
    <label>Coordinates:</label>
    <br>
    <input class="form-control" #newCoordinates>
  </div>

  <button (click)="submitForm(newNameOfHike.value, newAuthor.value, newState.value, newCoordinates.value); newNameOfHike.value=''; newAuthor.value=''; newState.value=''; newCoordinates.value=''">Get Hiking</button>
</div>
